//- dynamically create a table using "each" with the data passed in from using Book.findAll on books.js
//-Note to self, In the pug files I need to specify the full routes
//- ex:I need to write (/books/:id') in this file, but in book.js I can omit 'books' like (/:id')
extends layout.pug

block content
    h1= title
    p
      a.button(href='/books/new') Create New Book

    
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          //use each to dynamically create table
          each book in books 
            tr
              td
                a(href=' /books/:id' + book.id) #{book.title}
              td= book.author
              td= book.genre
              td= book.year
            tr
              td
            