//- this file will be for the update book form
extends layout.pug

block content
  h1= title
    //when the user clicks on the 'update book' book button, the action will redirect to /books/
    form(action="/books/" + book.id , method="post")
      //dynamically included book values based on id by using book.
      p
        label(for='title') Title
        input#title(name='title', type='text', value=book.title)
      p
        label(for='author') Author
        input#author(name='author', type='text', value=book.author)
      p
        label(for='genre') Genre
        input#genre(name='genre', type='text', value=book.genre)
      p
        label(for='year') Year
        input#year(name='year', type='text', value=book.year)
      p
        input(type='submit', value='Update Book')
    form(action="/books/" + book.id, method="post", onsubmit="return confirm('Do you really want to delete this book?');")
      p
        a.button(href='/') Cancel
      p
        input(type='submit', value='Delete Book')
